<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Better Questing Translator</title>
    <link rel="stylesheet" href="main.css">
    <script src="helper.js"></script>
    <script src="vue.js"></script>
    <script type="text/javascript" src="vue_app.js"></script>
</head>
<body>
<div id="sound"></div>
<div id="app">
    <div class="fixedHeader">
        <div class="finp">
            <select v-model="currentMode" @change="currentLangView = 'all'; currentView = 'all'">
                <option v-for="trTarget in trTargets">{{trTarget}}</option>
            </select>
        </div>
        <div class="finp" v-if="currentMode == 'quests'">
            1) Put here original DefaultQuests.json:<br/>
            <input type="file" @change="readBqFile($event)">
        </div>
        <div class="finp" v-if="currentMode == 'quests'">
            2) Put your current translate file here:<br/>
            (if you have it)<br/>
            <input type="file" multiple="multiple" @change="readTranslateJson($event)">
        </div>
        <div class="finp" v-if="currentMode == 'quests'">
            <button @click="generateTranslatedQuests();">Export Translated Quests</button><br/>
            <button @click="getCurrentTranslateConfig()">Save Current Translate</button>
        </div>
        <div class="finp" v-if="currentMode == 'quests'">
            View mode:<br/>
            <select v-model="currentView" @change="updateViewList()">
                <option v-for="val in viewValues">{{val}}</option>
            </select>
        </div>
        <div class="finp" v-if="currentMode == '.lang'">
            1) Orig .lang file:<br/>
            <input type="file" @change="readLangFile($event, true)">
        </div>
        <div class="finp" v-if="currentMode == '.lang'">
            2) Put rus .lang file:<br/>
            (if you have it)
            <input type="file" @change="readLangFile($event, false)">
        </div>
        <div class="finp" v-if="currentMode == '.lang'">
            View mode:<br/>
            <select v-model="currentLangView" @change="applySearch(langLines)">
                <option v-for="val in langViewValues">{{val}}</option>
            </select>
        </div>
        <div class="finp" v-if="currentMode == '.lang'">
            <button @click="generateTranslatedLandFile();">Export Translated Lang File</button><br/>
        </div>

        <div class="finp" v-if="currentMode == 'debug'">
            1) Put here original DefaultQuests.json:<br/>
            <input type="file" @change="readBqFile($event)">
        </div>
        <div class="finp" v-if="currentMode == 'debug'">
            <button @click="checkNoRewards();">Detect Quests with no Rewards</button>
        </div>
        <div class="finp" v-if="currentMode == 'debug'">
            <button @click="cutMs();">Cut multispaces</button>
        </div>
        <div class="finp" v-if="currentMode == 'debug'">
            <button @click="generateChangedQuests();">Export Changed Quests (from 'fileJson')</button>
        </div>
    </div>

    <div class="mainSection">
        <div v-if="currentMode == '.lang'">
            <input v-if="currentPageLines" class="langSearch" type="text" v-model="futureLangSearchText" placeholder="Search">
            <button v-if="currentPageLines" @click="doLangSearch(langLines)">Search</button>
            <button v-if="currentPageLines" @click="langSearchText = futureLangSearchText = ''; doLangSearch(langLines)">Clean</button>
            <div class="forLangFiles">
                <div v-if="parsingInProgress" class="logs">
                    <b>Progress</b>
                    <span>reading and parsing lines from file</span><br/>
                    <span>current file progress:</span>
                    <h2>{{getProgressPercent()}}%</h2>
                    ({{parsedLines}} / {{totalLines}})<br/>
                    Total files to read: {{totalFilesToReadAndParse}}<br/>
                    <span v-for="n in totalFilesToReadAndParse">
                        {{n}} file: [ {{filesParsingData[n-1] ? filesParsingData[n-1].progress : 0}} %]
                        <br/>
                    </span>
                </div>
                <div v-if="currentPageLines">
                    <div class="paginator" v-if="pages > 1">
                        Page:
                        <button @click="changePage(-1);">&laquo;</button>
                        <input type="text" v-model="currentPage" @blur="onPageChange()"/>
                        <button @click="changePage(1);">&raquo;</button>
                        of {{pages}}
                    </div>
                    <div class="itemBlock" v-for="line in currentPageLines">
                        <p class="langLabel">{{line.label}}</p>
                        <div>
                            <textarea class="left" v-model="line.orig" disabled></textarea>
                            <textarea class="right" v-model="line.translated"></textarea>
                        </div>
                    </div>
                    <div class="paginator" v-if="pages > 1">
                        Page:
                        <button @click="changePage(-1);">&laquo;</button>
                        <input type="text" v-model="currentPage" @change="onPageChange()"/>
                        <button @click="changePage(1);">&raquo;</button>
                        of {{pages}}
                    </div>
                </div>
            </div>
        </div>
        <div v-if="currentMode == 'quests'">
            <p class="tac"><button @click="changeQuestView()">
                Current view: {{isQuestsSetView ? 'Quest Sets' : 'Quests'}} (click to toggle)</button>
            </p>
            <input class="mainSearch" type="text" v-model="futureSearchText" @keydown="doSearch()"
            placeholder="Search">

            <div v-if="listToRender && listToRender.length > 0">
                <div class="paginator">
                    Page:
                    <button @click="changePage(-1);">&laquo;</button>
                    <input type="text" v-model="currentPage" @change="onPageChange()"/>
                    <button @click="changePage(1);">&raquo;</button>
                    of {{pages}}
                </div>
            </div>
            <table class="workSpace" v-if="listToRender && listToRender.length > 0">
                <tr>
                    <th class="withText">Original</th>
                    <th class="withText">Translated</th>
                    <th class="actions">Status</th>
                </tr>
                <tr v-for="(line, idx) in listToRender" v-bind:class="{danger: !!line.old}">
                    <td class="withText">
                        <p>{{line.qId}} ---
                            <span v-if="line.old">Old:<br/>
                                <b>{{line.old.orig.name}}</b><br/>
                                New:<br/>
                            </span>
                            <b>{{line.orig.name}}</b>
                        </p>
                        <div v-if="line.old">
                            Old:<br/>{{line.old.orig.desc}}<br/>
                            New:
                        </div>
                        <div>{{line.orig.desc}}</div>
                    </td>
                    <td class="withText">
                        <span v-if="line.old">Old: {{line.old.translated.name}}<br/></span>
                        <input v-bind:disabled="line.isDone" type=text v-model="line.translated.name"><br/>
                        <div v-if="line.old">Old: {{line.old.translated.desc}}</div>
                        <textarea v-bind:disabled="line.isDone" v-model="line.translated.desc"></textarea>
                    </td>
                    <td class="actions">
                        <button @click="line.isDone = !line.isDone; line.old = null;" v-bind:class="{done: line.isDone}">
                            {{line.isDone ? 'translated' : 'NOT translated'}}
                        </button>
                    </td>
                </tr>
            </table>
            <div v-if="listToRender && listToRender.length > 0">
                <div class="paginator">
                    Page:
                    <button @click="changePage(-1);">&laquo;</button>
                    <input type="text" v-model="currentPage" @change="onPageChange()"/>
                    <button @click="changePage(1);">&raquo;</button>
                    of {{pages}}
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>