body {
    background-color: #443333;
    color: white;
}
.mainSection {
    max-width: 1100px;
    padding: 50px;
    margin: auto;
    margin-top: 70px;
    border: 1px solid gray;
    border-radius: 10px;
}
.fixedHeader {
    width: 1200px;
    padding: 10px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    position: fixed;
    margin-top: -70px;
    left: calc(50% - 610px);
    background-color: #322;
}
.fixedHeader * {
    vertical-align: top;
}
.paginator{
    text-align: center;
    padding: 10px;
}
.paginator input[type=text] {
    width: 50px;
}
.finp {
    display: inline-block;
}
input[type=text], textarea {
    background-color: #554444;
    color: white;
}
a { color: white}
.withText{
    width: 45%;
}
.actions{
    width: 5%;
}
.itemBlock{
    width: 90%;
    margin: 10px auto;
    border: 1px dotted darkgrey;
    border-radius: 15px;
    padding: 20px;
    min-height: 70px;
}
.langSearch {
    width: 50%;
    display: inline-block;
    height: 25px;
    margin: 0 15px 25px 23%;
}
.fright {
    float: right;
}
.app-v{
    float: right;
    display: inline-block;
    margin: -15px 0;
    padding: 0;
}
.logs{
    text-align: center;
}
.tac{
    text-align: center;
}
#sound{
    display: none;
}
.itemBlock h5 {
    background-color: #655;
    color: aqua;
    margin: 0;
    padding: 3px 7px;
    display: inline-block;
    border-radius: 4px;
}
.itemBlock textarea {
    width: 49%;
    height: 45px;
    resize: none;
}
.langLabel {
    margin: 0;
    padding: 0;
    color: #eecc99;
}
textarea.left{
    float: left;
}
textarea.right{
    float: right;
}
input[type=text].mainSearch {
    width: 50%;
    display: block;
    margin: auto;
    height: 25px;
    margin-bottom: 15px;
}
table.forLangFiles{

}
table.workSpace {
    width: 100%;
    border-collapse: collapse;
}
tr.danger, .danger {
    background-color: #700;
}
table.workSpace input[type=text],
table.workSpace textarea {
    width: calc(100% - 30px);
}
table.workSpace textarea {
    min-height: 80px;
}
input:disabled, textarea:disabled {
    background-color: #332222;
}
.done{
    background-color: lightgreen;
}